importFrom(Rcpp,sourceCpp)
importFrom(RcppParallel, RcppParallelLibs)
importFrom(R6, R6Class)
useDynLib(seqtrie, .registration=TRUE)
export("RadixTree")
export("RadixForest")
export("dist_matrix")
export("dist_pairwise")
export("generate_cost_matrix")
